.geolocation-sidebar-container{
    // background: aqua;
    .body{
        .form{
            overflow: hidden;
            .item{
                padding: 5px;
            }
            .submit{
                display: flex;
                justify-content: flex-end;
                button{
                    background-color: var(--darkblue);
                    color: white;
                    border: 0px;
                    border-radius: 3px;
                    padding: 3px 7px;
                    
                }
            }
        }
    }
}